@import "tailwindcss";

:root {
  --lightBlue: #06b6d4;
  --lighterBlue: #effdff;
  --background: #0f172a;
  --foreground: #ffffff;
  --accent: #737e9f;
  --card: #15203a;
  --gradient: radial-gradient(circle, #06b6d4 0%, #fff 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lightBlue: var(--lightBlue);
  --color-lighterBlue: var(--lighterBlue);
  --color-accent: var(--accent);
  --color-card: var(--card);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
  .grid-4-cols {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2;
  }
  .heading {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold mb-8;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

@layer components {
  .nav-margin {
    @apply pt-[20vh] md:pt-[12%];
  }
  .container-x {
    @apply container w-full mx-auto px-4;
  }

  /* navbar */
  .logo {
    @apply text-xl md:text-3xl font-semibold transition-transform duration-300 hover:scale-105;
  }
  .menu-container {
    @apply fixed top-0 left-0 w-full sm:py-4 py-2 flex items-center z-100 bg-background/20 backdrop-blur-sm;
  }
  .menu-overlay {
    @apply fixed top-0 left-0 w-screen h-screen sm:py-4 py-2 bg-lightBlue z-20;
    clip-path: polygon(0 0, 100% 0%, 100% 0%, 0% 0%);
  }
  .menu-header {
    @apply flex justify-between items-center w-full;
  }
  .menu-extras {
    @apply flex justify-between sm:flex-row flex-col gap-4 text-sm;
  }
  .menu-link-item {
    @apply w-max;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .menu-links {
    @apply w-full sm:ml-[20%];
  }
  .menu-link-item-holder {
    @apply relative;
  }
  .menu-link-item-holder a {
    @apply text-black sm:text-6xl md:text-7xl text-5xl tracking-tight leading-[85%];
  }
  .menu-info {
    @apply flex flex-[2] gap-4 justify-between sm:flex-row flex-col sm:items-end;
  }
  .menu-info > div {
    @apply flex-1;
  }
  .menu-close-icon {
    @apply flex-1 lg:flex hidden items-end cursor-pointer;
  }
  .menu-close-icon p {
    @apply text-8xl leading-[70%];
    -webkit-text-stroke: 3px #06b6d4;
  }

  /* hero */
  .hero-text h1 {
    @apply p-0 font-bold text-3xl sm:text-4xl md:text-5xl text-white leading-tight md:leading-[1.3];
  }

  .arrow-wrapper {
    @apply size-10 rounded-full absolute right-5 md:right-10 top-1/2 
        -translate-y-1/2 flex justify-center items-center overflow-hidden;

    & > * {
      @apply size-5 lg:-translate-y-32 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500;
    }
  }
  .app-showcase {
    @apply w-full flex items-center justify-center;

    .showcaselayout {
      @apply flex lg:flex-row flex-col gap-10 justify-between;
    }

    .first-project-wrapper {
      @apply h-full flex flex-col justify-between lg:w-[60%];

      .image-wrapper {
        @apply lg:h-[70vh] w-full md:h-[50vh] p-4 relative h-64;

        img {
          @apply w-full h-full object-cover rounded-xl absolute inset-0;
        }
      }

      .text-content {
        @apply space-y-5 mt-5;

        .badges {
          @apply flex gap-2 mb-4;
        }

        h2 {
          @apply text-xl md:text-3xl lg:text-4xl font-bold;
        }
      }
    }

    .project-list-wrapper {
      @apply flex md:flex-row flex-col lg:flex-col gap-10 lg:w-[40%];

      .image-wrapper {
        @apply xl:h-[37vh] md:h-52 lg:h-72 h-64 relative rounded-xl lg:px-5 2xl:px-12 py-0;
      }

      img {
        @apply w-full h-full object-contain rounded-xl;
      }

      h2 {
        @apply text-lg md:text-xl lg:text-2xl font-semibold mt-5;
      }
    }
  }

  /* experience */
  .timeline-wrapper {
    @apply absolute top-0 lg:left-[34.5vw] md:left-10 left-5 h-full flex justify-center;
  }

  .timeline {
    @apply absolute z-30 h-[110%] -top-10 w-14 md:w-28 bg-background;
  }

  .timeline-logo {
    @apply md:size-20 size-10 flex-none rounded-full flex justify-center items-center md:-translate-y-7 border border-lightBlue bg-background;
  }

  .exp-card-wrapper {
    @apply flex flex-col-reverse lg:flex-row lg:gap-20 gap-10 justify-between;
  }

  .gradient-edge {
    @apply w-36 h-full absolute bottom-0 z-20;
  }

  /* skills */
  .tech-card-animated-bg {
    @apply absolute left-0 bottom-[-100%] w-full h-full bg-[#2D3240] group-hover:bottom-0 transition-all duration-700;
  }

  .tech-card-content {
    @apply flex flex-col md:justify-center items-center lg:gap-5 lg:h-[50vh] p-6 overflow-hidden relative z-10 group-hover:cursor-grab w-40;

    & p {
      @apply text-lg 2xl:text-2xl pb-5 lg:pb-0 font-semibold text-[#DAE3FF] text-center;
    }
  }
  .tech-grid {
    @apply flex flex-wrap justify-center md:justify-between gap-8 mt-16;
  }

  .tech-icon-wrapper {
    @apply flex justify-center items-center w-52 h-50 relative;
  }

  /* CTA */
  .cta-wrapper {
    @apply relative cursor-pointer;
  }

  .cta-button {
    @apply px-4 py-4 rounded-lg bg-lightBlue flex justify-center items-center relative cursor-pointer overflow-hidden;

    .bg-circle {
      @apply absolute -right-5 md:-right-10 origin-center top-1/2 -translate-y-1/2 
        w-[120%] h-[120%] group-hover:size-10 group-hover:right-5 group-hover:md:right-10
        rounded-full bg-linear-to-t to-[#DFEDFA] from-[#EBF3FA] transition-all duration-500;
    }

    .text {
      @apply uppercase md:text-lg text-background transition-all duration-500
        group-hover:text-black group-hover:-translate-x-5 lg:translate-x-0 -translate-x-5;
    }

    .arrow-wrapper {
      @apply group-hover:bg-linear-to-t from-[#DFEDFA] to-[#EBF3FA] size-10 rounded-full absolute right-5 md:right-10 top-1/2 
        -translate-y-1/2 flex justify-center items-center overflow-hidden;

      & > * {
        @apply size-5 text-background lg:-translate-y-32 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500;
      }
    }
  }

  .contact-btn {
    @apply flex;

    .inner {
      @apply px-5 py-2 rounded-lg bg-white text-black group-hover:bg-white/80 transition-colors duration-300;

      span {
        @apply group-hover:text-white transition-colors duration-300;
      }
    }
  }

  .contact-input {
    @apply bg-transparent border-b-2 border-white w-full transition duration-1000 ease-in-out focus:border-cyan-400;
  }

  .card-border {
    @apply border border-black/50 bg-black;
  }
}

.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
  background-color: var(--card);
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - 15) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}
.glow {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  filter: saturate(200);
}

.card:hover::before {
  opacity: 1;
}

.gradient-line {
  width: 2px;
  background: linear-gradient(
    0deg,
    rgba(69, 222, 196, 0) 0%,
    var(--color-lightBlue) 25%,
    #faff0ad9 37.51%,
    #faff0ad9 62.83%,
    #37ce66 92.91%
  );
}

.gradient-edge:nth-of-type(1) {
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.gradient-edge:nth-of-type(2) {
  right: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.contact-form {
  @apply flex flex-col mb-4;
  label {
    @apply font-bold;
  }
}

input,
textarea {
  background: transparent;
  border-bottom: 2px solid #fff;
  transition: border 1s ease;
}
input:hover,
textarea:hover {
  border-color: var(--color-lightBlue);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-lightBlue);
}

/* #about {
  background-image: url("/bg-left.png");
  background-repeat: no-repeat;
}
#projects {
  background-image: url("/bg-left.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#contact {
  background-image: url("/bg-right.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
} */
